*{
    font-family: 'Source Code Pro', monospace;
}

body{
    font-family: Arial, sans-serif;
    background-color: black;
    /*art by choops91 devian art*/
    background-size: cover;
    background-repeat: no-repeat;
    color:white;
}

.registerBox{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.title{
    animation: flicker 1.5s infinite alternate;
    font-size: 80px;
    margin-left: 2%;
    margin-top: 2%;
}

@keyframes flicker {
    
    0%, 18%, 22%, 25%, 53%, 57%, 100% {
  
        text-shadow:
        0 0 4px #fff,
        0 0 11px #fff,
        0 0 19px #fff,
        0 0 40px #0fa,
        0 0 80px #0fa,
        0 0 90px #0fa,
        0 0 100px #0fa,
        0 0 150px #0fa;
    }
    20%, 24%, 55% {        
        text-shadow: none;
    } 
    
}

#log_tit{
    animation: flickerLog 1.5s infinite alternate;
    font-size: 80px;
    margin-left: 2%;
    margin-top: 4%;
}

@keyframes flickerLog {
    
    0%, 18%, 22%, 25%, 53%, 57%, 100% {
  
        text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #228dff,
      0 0 70px #228dff, 0 0 80px #228dff, 0 0 100px #228dff, 0 0 150px #228dff;
    }
    20%, 24%, 55% {        
        text-shadow: none;
    } 
    
}

.login_label{
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #228dff,
      0 0 70px #228dff, 0 0 80px #228dff, 0 0 100px #228dff, 0 0 150px #228dff;
}

.loginInput{
    background-color: transparent;
    border: none;
    border-bottom: 1px solid #0fa;
    color: white;
    margin: 2%;
}

#login_inp_st{
    border-bottom: 1px solid #228dff;
}

label{
    margin-top: 1%;
    text-shadow:
        0 0 4px #fff,
        0 0 11px #fff,
        0 0 19px #fff,
        0 0 40px #0fa,
        0 0 80px #0fa,
        0 0 90px #0fa,
        0 0 100px #0fa,
        0 0 150px #0fa;
}

.formBox{
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
    height: 100%;
    margin-top: 2%;
}

.links{
    align-self: center;
    color:white;
    text-decoration: none;
    font-style: italic;
}

.errorBox{
    color:#5d0217;
    font-size: larger;
    font-weight: bolder;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
}
.petImage{
    width: 20%;
    margin: 0;
    position: absolute;
    top: 36%;
    left: 70%;
}

@media only screen and (max-width:900px) {
    .loginBox,.registerBox{
        flex-direction: column;
    }
    .title{
        font-size: 70px;
        margin: 10px 15%;
    }
    .formBox, .formBoxLogin{
        display: flex;
        flex-direction: column;
        width: 100%;
    }
    .petImage{
        width: 15%;
        margin: 0 42.5%;
    }
}

.input_btn{
    margin: 1%;
}

input:focus{
    outline: none;
}
