{% extends "base.html" %} {% block content %}

<div class="registerBox">
  <h1 class="title" id="log_tit">Login</h1>
  <img class="petImage" src="../static/images/cutecat2.gif" />
  <form class="formBox" action="" method="POST">
    <label class="login_label">Username</label>
    <input
      name="username"
      type="email"
      class="loginInput"
      id="login_inp_st"
      placeholder="Username"
    />
    <label class="login_label">Password</label>
    <input
      name="password"
      type="password"
      class="loginInput"
      id="login_inp_st"
      placeholder="password"
    />
    <div class="errorBox">
        {% for message in get_flashed_messages() %}
            <p>{{ message }}</p>
        {% endfor %}
    </div>
    <button class="input_btn" value="Login" type="submit">Login</button>
    <button class="input_btn"><a href="/register">Register</a></button>
  </form>
</div>

{% endblock %}
